body{
  padding: 100px;
  background: #24436E;
}
div.wrapper{
  width: 300px;
  margin:0 auto;
}
div.text{
  color: #FFF;
}
section{
  box-sizing: border-box;
  height: 200px;
  width: 300px;
  background: #8C57AC;
  color:#FFF;
  font-size: 2em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: solid 6px #C68335;
  border-radius: 15px;
}